/*============================================= CSS ======================================*/

/*=========================================================================HEADER*/
h1{
  font-family: 'Avenir' !important;
 }

 h2{
  color:white;
  font-size: 1.75em;
  font-family: 'Minion Pro';

 }

 body{
  font-family: "Avenir Book";
 }

#logoa
{
  display:inline;
 }
 #logob{
  display:inline;
 }
 .site-header{
    height: 7em;
 }

 .slick-slider .slick-dots li{
    margin: 0px 1.5em;
 }

 .slick-slider .slick-dots {
    margin: 0px -1.5em;
  }

#cart>a>span>svg{
  padding-right: 0;
    height: auto;
    width: 1em;
}
#cart>a>span>svg>path{
  
  fill:white;

}

.hero__slide .hero__title {
    font-size: 2.37em;

}

.hero__slide .hero__subtitle {
    font-size: 1.75em;
    font-family: 'Minion Pro';
    text-transform: none;
}

#svgsearch>svg{
  height: auto;
  width: 1em;
}

#svgsearch>svg{
  fill:white;
}
 .linkscart{
 	position:relative;
 	width: 2%;
 	height: 1em;
 	top: 1.5em;
  left: 33em;
 }

.linkscart ul {
  position:relative;
	top: -10em;
	margin-left: 6em;
  width: 15em;
}

.linkscart ul>li{
  position:relative;
  display: inline-block;
  padding-right: 1em;
}

.linkscart ul>li>a{
  position:relative;
  color: white;
  font-family: 'Avenir';
  font-size: 1em;
}

#btnShop{
	border:solid 1px white;
	background: transparent;
	color:white;
}
#btnShop:hover{
	background:white;
	color:black;
}
#logo /*logo Darthfreela Team*/
{
  position:relative;
  top: -3em;
  left: 43.5%;

}

#menu{
   position: relative;
   padding-top:3em;
   float:left;
   width: 100%;
   margin-top: 0px;
   font-weight: bold;
   font-size: 0.85em !important;
   font-family: 'Minion Pro'
}

#AccessibleNav {
    top: -2em;
    width: 100%;
    position: relative;
    margin-left: -21em;
}

#navMenuLarge{
	max-width: 100%;

}

#opc{
	padding-right: 2em;
}

#cart{
	position: relative;
    

}

#divSearch{
  position: relative;
  top: -2.4em;
  left: -83em;
}

#divSearch  ul>li{
 display: inline-block;
}

#divSearch  ul>li>a{
  color:white;
}

#divSearch ul>li>a>span{
  padding-left: 0.4em;
  font-size: 1em;
  font-family: 'Avenir';
  font-weight: normal;
}
/*======================================================================FIM HEADER*/
/*===================================INICIO LOGOMARCAS============================*/
#divMarcas{
  position: relative;
  height: 5em;
  width: 100%;
  top:-1em;
  left: 0;
}

#divMarcas ul>li{
 display: inline-block;
}
#divMarcas ul{
  margin: 0 0 15px 7.5em;
}

#divMarcas ul> li> a{
     padding: 0px 2em;
}
/*=======================================================================FIM MARCAS*/
/*==================================INICIO PRODUTOS HOME===========================*/

/*div principal*/
.homeProduct{
  position: relative;
  top:0;
  left: 0;
  height: 37.500em;
  width: 100%;

}
/*botao da div*/
.btnProduct{
  position: relative;
  left: 1.3em;
  height: 1.8em;
  width: 9.5em;
  background-color: white;
  top: -17px;
  font-size: 0.9em;
  text-align: center;
  padding-top: 0.2em;
}
/*hr products*/
.hrProduct{
  position: relative;
  margin-left: 4em;
  top: -12px;
}
/*div produto 1*/
#product1{
  position: relative;
  float: left;
  top: 0;
  left: 0;
  height: 36.2em;
  width: 23.3em;
  background: white;
  padding-left: 0;
  border-left: solid 0.5em white;
  border-right: solid 0.5em white;
  
}

#product1>a>img:hover{
 background-color: rgba(107, 117, 123, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

/*conteudo das divs*/
#divProduct1{
  position: absolute;
  display: none;
  top: 13em;
  left: 22%; 
  text-align: center;
  height: 13em;
  width: 11em;
  z-index: 1;
}


/*div produto 2*/
#product2{
  position: relative;
  float: left;
  top: 0;
  left: 0;
  height: 18.125em;
  width: 36em;
  background: white;
  border-left: solid 0.5em white;
  border-right: solid 0.5em white;

 
}
#product2>a>img:hover{
    background-color: rgba(107, 117, 123, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

/*conteudo das divs*/
#divProduct2{
  position: absolute;
  display: none;
  top: 5em;
  left: 33%; 
  text-align: center;
  height: 13em;
  width: 11em;
  z-index: 1;
}

/*div produto 3*/
#product3{
  position: relative;
  float:left;
  top: 0;
  left: 0;
  height: 18.125em;
  width: 36em;
  background: white;
  border-left: solid 0.5em white;
  border-right: solid 0.5em white;
  border-top: solid 1em white;
}



#product3>a>img:hover{
  background-color: rgba(107, 117, 123, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
/*conteudo das divs*/
#divProduct3{
  position: absolute;
  display: none;
  top: 5em;
  left: 33%;
  text-align: center;
  height: 13em;
  width: 11em;
  z-index: 1;
}

/*div produto 4*/
#product4{
  position: relative;
  float: right;
  top: -18.1em;;
  left: 0;
  height: 18.125em;
  width: 25.000em;
  background: white;
  border-left: solid 0.5em white;
  border-right: solid 0.5em white;
  
}
#product4>a>img:hover{
background-color: rgba(107, 117, 123, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
/*conteudo das divs*/
#divProduct4{
  position: absolute;
  display: none;
  top: 5em;
  left: 29%;
  text-align: center;
  height: 13em;
  width: 11em;
  z-index: 1;
}

/*div produto 5*/
#product5{
  position: relative;
  float:right;
  top: -18.1em;;
  left: 0;
  height: 18.125em;
  width: 25.000em;
  background: white;
  border-left: solid 0.5em white;
  border-right: solid 0.5em white;
  border-top: solid 1em white;
}
#product5>a>img:hover{
 background-color: rgba(107, 117, 123, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
/*conteudo das divs*/
#divProduct5{
  position: absolute;
  display: none;
  top: 5em;
  left: 29%;
  text-align: center;
  height: 13em;
  width: 11em;
  z-index: 1;
}

/*img produc 1*/
#imgProduct1>img{
  position: relative;
  top: 0;
  left: 0;
  height: 36.2em;
  width: 23.3em;
}
/*img produc 2*/
#imgProduct2>img{
  position: relative;
  top: 0;
  left: 0;
  height: 18.125em;
  width: 36em;  
}
/*img produc 3*/
#imgProduct3>img{
  position: relative;
  top: 0;
  left: 0;
  height: 17em;
  width: 36em;
}
/*img produc 4*/
#imgProduct4>img{
  position: relative;
  top: 0;
  left: 0;
  height: 18.125em;
  width: 25.000em;
}
/*img produc 5*/
#imgProduct5>img{
  position: relative;
  top: 0;
  left: 0;
  height: 17em;
  width: 25.000em;
}
/*tamanho da tela*/
#PageContainer{
    height: 1367px;
}


/*=======================================================================FIM PRODUTOS HOME*/
/*==================================INICIO OUR BRAND===============================*/
.fundo {
  position: relative;
  top: 0.5em;
  left: 0;
  background-color: rgba(223, 227, 228, 0.29);

}

.fundo>hr{
  border:solid 1px black;
  width:1em;
}
.h1Home{
  font-size: 1.5em;
  font-family: 'Avenir';
  color: #6b757b;
  padding-bottom: 0px;
  height: 0em;
}

.hrHome{
  border: solid 0.5px rgba(125, 135, 135, 0.18);
}

.formataTxt{
  margin-left: 17em;
  color: #4c4d4e;
  font-size: 1em;
  font-family: 'Avenir';
  width: 50em;
}

#gridItemTop {
  margin-top: -15.5em;
}
/*=======================================================================FIM OUR BRAND*/
/*==================================INICIO MARCAS2================================= */
#divMarcas2{
  position: relative;
  height: 9em;
  width: 100%;
  top: 2em;
  left: 1.5em;
}

#divMarcas2 ul>li{
 display: inline-block;
}

#divMarcas2 ul> li> a{
     padding: 0px 2em;
}
/*=======================================================================FIM MARCAS 2*/
/*==================================IMG FOOTER=======================================*/
.imgFooter{
  position: relative;
  top: -7em;
  left: 0;
  width: 100%;
  height: 34.375em;
}

#img1{
  position: relative;
  float:left;
  top: 0;
  left: 0;
}

#img1>img{
  width:43.09em;
}

#img2{
  position: relative;
  float:right;
  top: 0;
  left: 0;
}

#img2>img{
  width:43.095em;
}
/*===============================footer=================================*/
.darthFooter{
  position:relative;
  height:29em;
  top: 15em;
  left: 0;

}

/*=========SOCIAL*/
.social{
  position: absolute;
  top: 32%;
  left: 69%;
  width: 17em;
  height: 5em;
}

.social>div{
  position: relative;
  top: -16px;
  left: 0;
  width: 18em;
  height: 4em;
}

.social>span{
  position: relative;
  top: -20px;
  left: 3.5em;
}

.social>div>ul>li{
  display: inline-block;
}
/*===========Links Cop*/
#linksCop{
  position: absolute;
  top: 48%;
  left: 72.8%;
  width: 14em;
  height: 1em;
}

#linksCop>a>span{
  color:#6b757b;
  font-size:0.75em;
  font-family: 'AvenirBook';
}

/*=============First Column*/
#colOne{
  position: absolute;
  top: 3%;
  left: 10%;
  width: 15em;
  
}
#colOne>span{
  margin-left: 29%;
  color: #4c4d4e;
  font-size: 1em;
  font-family: 'Minio Pro';
  font-weight: bolder;
  padding-bottom: 0;
}

#colOne>div{
  height: 28px;
}

#colOne>div>ul>li>a{
  color: #4c4d4e;
  font-size: 0.75em;
  font-family: 'Minio Pro';
}

#colTwo{
  position: absolute;
  top: 3%;
  left: 33%;
  width: 11em;
}

#colTwo>span{
  margin-left: 29%;
  color: #4c4d4e;
  font-size: 1em;
  font-family: 'Minion Pro';
  font-weight: bolder;
}
#colTwo>div{
  height: 28px;
}
#colTwo>div>ul>li>a{
  color: #4c4d4e;
  font-size: 0.75em;
  font-family: 'Minion Pro';
}

#colThree{
  position: absolute;
  top: 3%;
  left: 53%;
  width: 12em;
}

#colThree>span{
  margin-left: 29%;
  color: #4c4d4e;
  font-size: 1em;
  font-family: 'Minion Pro';
  font-weight: bolder;
}
#colThree>div{
  height: 28px;
}
#colThree>div>ul>li>a{
  color: #4c4d4e;
  font-size: 0.75em;
  font-family: 'Minion Pro';
}

#hrFooter{
  position: relative;
  width: 62em;
  top: 0;
  left: 0;
  border: solid 0.5px rgba(125, 135, 135, 0.18);
}

.newsletterdarth{
  position: absolute;
  top: 5em;
  left: 71%;
  width: 19em;
  height: 45px;
}
.newdarth{
  width: 100%;
  height: 45px;;
}

.newsletterBtn{
  width: 2em;
  background-color: white;
  border-bottom:solid 1px #7D8787;
  border-right:solid 1px #7D8787;
  border-top:solid 1px #7D8787;
}
.newsletterBtn:hover{
  background-color: #7D8787;
}
.imputNews{
  width: 9em;
}
.newForm{
  width: 9em !important;
  background-color: white;
  border-bottom:solid 1px #7D8787;
  border-left:solid 1px #7D8787;
  border-top:solid 1px #7D8787;
}

#newdiv{
  position: absolute;
  top: -4em;
  left: 0;
  width: 13em;
  height: 0;
}

#newdiv > span{
  font-size:1em;
  font-family:'Minion Pro';
  font-weight: bolder;
  color: #4c4d4e;
}

.newsletter--form{
  margin-top:-2em;
}
/*Scroll menu*/
.scrolled_menu {
    /*Regras fixas*/
    height: 7em !important;
    width: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    position: fixed;
 
    /*Customizações*/
    background-color: white !important;
    display: none;

}

/*zoom*/
 .hoverzoom {
  overflow: hidden;
}

.hoverzoom >a> img {
  width: 100%; 
  border-radius: 2px;
  -webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
      -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
       -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
        -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
           transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}

.hoverzoom:hover > a > img {
  -webkit-transform: scale(1.5);
     -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
       -o-transform: scale(1.5);
          transform: scale(1.5);
}


/*================================ CART ==============================*/
#CartDrawer
{
  width: 0;
  height: 0;
  background: #FFF !important;
}

.section-header {
    margin-bottom: 6px !important;
}

.titlecart{
  position: relative;
  top: 0;
  margin-left: -41em;
  font-size: 1.5em;
  font-family: 'Minion Pro' !important;
}

.hr--cart{
  position: relative;
  top: 0;
  left: -41em;
  width: 68em;
  border: solid 1px rgba(143, 151, 154, 0.6);
  margin-bottom: 1em;

}

#divUlHeader{
  top: 0;
  left: 0;
  margin: -0.2em 0px 0px 0em;
  width: 68em;
  height: 2em;
  border-top:solid 2px rgba(143, 151, 154, 0.6);
  border-bottom:solid 2px rgba(143, 151, 154, 0.6);
}

#ulheader{
  width: 72em;
  margin-left: -15em;
}

#ulheader>li{
  font-family: 'Avenir Book' !important;
  font-size: 1em;
  display: inline-block;
}

/*items do header*/
.gridCart{
  position: relative;
  width: 84em;
  height: 44em;
  top: 0;
  left: -177px

}

#itemli{
  position: relative;
  left: -8em;
}

#sizeli{
  position: relative;
  left: 11em;
}
#quantityli{
  position: relative;
  left: 24em;
}
#priceli{
  position: relative;
  left: 33em;
}
#totalpriceli{
  position: relative;
  left: 39em;
}

.cart__row {
    position: relative;
    margin-bottom: 0px;
}

.itemcart{
  width: 22.333%;
}

.cartprice{
  position:relative;
  left: 12em;
  width: 6em;
}

.cartprice>span{
  font-size: 1em;
  font-family: 'Minion Pro'
}

.subtotalcart{
  position: relative;
  left: 21em;
  top: 2em;
  width: 6em;
}

.subtotalcart>p{
  font-size: 1em;
  font-family: 'Minion Pro'
}

.qtdcart{
  position: relative;
  top: 0;
  left: -28px;

}

.removecart{
  position: relative;
  width: 0;
  top: 3em;
  left: 8em;
}

.js-qty{
  background-color: white !important;
  border:none !important;
}
.js-qty input[type="text"], .ajaxcart__qty input[type="text"] {
    display: block;
    background: white;
    text-align: center;
    width: 71%;
    padding: 1px 0px;
    margin: 14px;
}

.botaorodape{
  position: relative;
  top: 0em;
  left: 48em;
  width: 27em;
}

.update-cart+.cart__checkout{
  background-color: #7FC7C3 !important;
}
.botaorodape2{
  position: relative;
  top: 0em;
  left: 0em;
  width: 27em;
}

/*=======================BG COLLECTION*/
#headercollection{
  color:white;
  font-family: 'Avenir';
}

#desccoll{
  position: relative;
  top: 1em;
  left: 14em;
  width: 28em;
  font-family: 'Avenir';
  font-style: normal;
}

#topo{
  position: relative;
  z-index: 2;
}

.bgcollection{
  position: absolute;
  top: 7em;
  left: 0em;
  z-index: 1

}

.bgcollection img{
  width: 85em;
  
}

#divtitulocoll{
  position:relative;
  top: auto;
  left: 27.5em;
  color: white;
  border:solid 1px #fff;
  width: 10em;
  height: 3.5em;
}

#divtitulocoll h1{
  padding-top: 0.2em;
  font-family: 'Minion Pro' !important;
}
#colltypes{
  position: relative;
  top: 0;
  left: 0;
  text-transform: uppercase;
  font-family: 'Minion Pro';
  text-align: center;
  font-size: 0.87em;
}

#colltypes > ul > li{
  display: inline-block;
  padding-top: 0.5em;
  padding-right: 0.5em;
}

#hrcoll{
  width: 100%; 
  border:solid 1px rgba(143, 151, 154, 0.6);

}

.linksWhere{
  position: relative;
  top: 3em;
  left: 0;
  font-size: 0.8em;
  font-family: 'Minion Pro';
  
}
.linksWhere ul{
  margin: -22px 0px;
  padding: 0;
  
}

.linksWhere ul>li{
  display: inline-block;
  
}

.changemode{
  position: relative;
  top: 1.8em;
  left: 28em;
  width: 12em;
  font-family: 'Minion Pro';
}

.changemode ul{
  margin: 0;  
  padding: 0;
  
}

.changemode ul>li{
  display: inline-block;
  margin: 0;
  padding-right: 1em;
}

/*tamanho das imagens*/
.grid-collage .large--one-half .grid-product__image-link {
    height: 40em;
}

.grid-product__image-link{
  background-color: white;
}

#PageContainer {
    overflow: visible;
}

#modeModel:hover {
  color:black;
  cursor: pointer;
}

#modeProduct:hover {
  color:black;
  cursor: pointer;
}

.grid-collage .grid-product__image {
  padding: 0px;
  top: 20em;
  position:relative;
}

.zoomContainer {
  position:relative;
}

.colproducttitle{
  position: relative;
  height: 0em;
  width: 13em;
  top: -1.75em;
  left: 9em;
}

.colproducttitle > span{
  color:#6b757b;
  font-size:1.25em;
  font-family: 'Minion Pro';
  font-style: normal;
}

.long-dash1{
  position: relative;
  top: 0;
  left: 2em;
  width: 10em;
  border: solid 1px #99A4A0;
}

.priceposition{
  position: relative;
  top: -3em;
  left: 0;
}
.long-dash2{
  position: relative;
  top: -5.4em;
  left: 18em;
  width: 11em;
  border: solid 1px #99A4A0;
}

#modeModel{
  font-weight: bold;
}

.divnews{
  border: solid 1px #99A4A0;
  position: relative;
  top:2em;
  width: 31em;
  height: 40em;
  text-align: center;
  padding-top: 3em;
}

.divnews>span{
 font-family: 'Minion Pro';
 font-size: 2em;
}

#hrnewsrange{
  position: relative;
  border: solid 1px #99A4A0;
  top: -2em;
  left: 14em;
  width: 3em;
}

#txtdivrange{
  position: relative;
  top: 0;
  left: 5em;
  width: 21em;
  font-family: 'Minion Pro';
  font-size: 1em;
}

#newsdivrange{
  position: relative;
  top: 7em;
  left: 0;
  width: 21em;

}

.newsrange{
  width: 18em !important;
  border-right: solid 1px #7D8787;
  font-family: 'Avenir'
}

.btnnewdivrange{
  position: relative;
  top: 5em;
  left: -19em;
  width: 13em;
  background: transparent;
  text-transform: none;
  color: #99A4A0;
}

.grid-product__meta{
  height: 5em;
}

.btnnewdivrange>span{
  font-family: 'Minion Pro';
  font-size: 1.5em;
  font-weight: bold;
}

#recently{
    position: relative;
    top: 24.8em;
    left: 0em;
    width: 62em;
    font-family: 'Minion Pro';
}

.viewed{
  position: relative;
  top: 2em;
}
.viewed ul{
  margin: 0;  
  padding: 0;
  
}

.viewed ul>li{
  display: inline-block;
  margin: 0;
  padding-right: 1em;
}

#recentlyviewed:hover {
  color:black;
  cursor: pointer;
}

#mightlike:hover {
  color:black;
  cursor: pointer;
}