<!-- snippets/featured-collections.liquid -->

{% if section_number > 1 and number_of_index_sections > 1 %}
 <hr class="hr--medium hr--clear">
{% endif %}
<div class="grid collection-grid">
<div class="imgFooter">
  <div id="img1">{{ 'f1.png' | asset_url | img_tag }}</div>
  <div id="img2">{{ 'f2.png' | asset_url | img_tag }}</div>
</div>
  

</div>
